{% extends 'BanqueBundle:base.html.twig' %}

{% block content %}
    <h1>Service de gestion de crédits</h1>
    {% for success in app.session.flashbag.get('success') %}
        {% if success %}
            <p>Inscription réussie</p>
        {% endif %}
    {% endfor %}
    {% if errors is defined %}
    <ul>
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="{{ url('banque_create') }}" method="post">
        <label>Nom <input type="text" name="Name" value="{{ account.name }}"></label>
        <label>Numéro <input type="text" value="{{ account.number }}" name="Number"></label>
        <button type="submit" name="add">S'inscrire</button>
    </form>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
